* {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  /* background-color: #111;
  background-image:  linear-gradient(to top right, rgb(255, 255, 99), rgb(210, 210, 210) 70%);
  background: radial-gradient(circle at top right, #ffd200 1%, #fff532 3%, #ffde7c 70%, #f8ffb1 90%); */
  background-image: url("../img/sky1.jpg");
  z-index: -1;
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 800px;
 
  margin: 0 auto;
  background-color: transparent;
}

@keyframes background-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}

.text {
  font-family: 'Luckiest Guy',cursive;
  font-weight: 900;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 4px;
  margin-top: 8px;
}

.m-15 {
  margin: 30px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.form-container img {
  max-width: 50%;
  margin-right: 2rem;
}

.form-container form {
  font-family: "Bree Serif", serif;
  max-width: 70%;
  height: 380px;
  border-style: dashed;
  border-radius: 7px;
  background: white;
  opacity: 0.8;
}

.form-control {
  background-color: transparent;
  opacity: 1;
  border: 1px solid black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3px;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  text-align: center; 

}

.form-control:focus{
  opacity: 1;
  background: black;
  color: white;
}

.form-group label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  display: inline-block;
  margin-right: 30px;
  font-weight: 900;
}

input[type="radio"] {
  margin-right: 10px;

}

.list {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Message {
  margin: 7px 20px;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  color: white;
  background-color: #333; 
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

#submit {
  font-family: "Bree Serif", serif;
  margin-top: 8px;
  font-size: medium;
  padding: 8px 40px;
  background: black;
  position: relative;
  right: -170px;
}

#submit:hover{
  background: white;
  border: #000000 2px;
  border-style: solid;
  color: black;
  transform: scale(1.05);
  transition: all 0.1s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Car Segment Here */
.road {
  width: 500%;
  height: 200px;
  background: url(../img/road.jpg);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  animation: road 5s linear infinite;
  margin: auto;
  opacity: 0.7;
}
@keyframes road {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-3500px);
  }
}
.city {
  width: 500%;
  height: 250px;
  background: url(../img/city.png);
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  z-index: -1;
  animation: city 20s linear infinite;
  opacity: 0.4;
}
@keyframes city {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1400px);
  }
}
.car {
  width: 600px;
  position: absolute;
  left: 0%;
  bottom: 9px;
  z-index: -1;
  opacity: 0.7;
  overflow-y: hidden;
}
.car .car-runing {
  width: 100%;
  transform: translateY(-1px);
  animation: car 1s ease-in infinite;
}
@keyframes car {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
.wheel {
  width: 90px;
  position: absolute;
  top: 139px;
  left: 105px;
  animation: wheel 1s linear infinite;
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.first {
  width: 90px;
  position: absolute;
  top: 139px;
  left: 407px;
}



/* Birds Segment */
.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}
.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}
.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}
.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}
.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}
.bird-container {
  position: absolute;
  top: 5%;
  left: -10%;
  z-index: -1;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}
.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}
.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}
.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
